body{background-color: #68CDD5;font-size: 100%;margin: auto}
.biaoti{margin-top: 10px;text-align: center;transform:scale(0.5)}
.one{width:60%;margin:10px auto 10px auto;color: #FFFFFF}
.image{position: absolute;left: 5%;top:80%;transform:scale(0.5);text-align: center}
.image2{position: absolute;right: 5%;top:80%;transform:scale(0.5);text-align: center}
.image3{margin-top: 0.5em;margin-left: 0.5em;transform:scale(0.5)}