body{background-color: #68CDD5;font-size: 100%;margin: 0 auto}
.biaoti{margin-top: 10px;text-align: center;transform:scale(0.5)}
.one{width:60%;word-wrap:break-word;margin:10% 20% 10% 20%;color: white;display: inline-block;text-align: left}
.image{position: absolute;left: 5%;top:80%;transform:scale(0.5);text-align: center}
.image2{position: absolute;right: 5%;top:80%;transform:scale(0.5);text-align: center}
.image3{margin-top: 1em;margin-left: 1em;transform:scale(0.5)}